body{
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

/* HEADER */
header{
  height: 80px;
  line-height: 80px;
}

.container{
  width: 80%;
}

ul.nav-page li,
ul.nav-lang li{
  display: inline-block;
  padding-right: 10px;
}

ul.nav-page li a,
ul.nav-lang li a{
  color: #343434;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

header .logo{
  vertical-align: middle;
}

.nav-lang li:not(:last-child) a{
  border-right: 2px solid black;
  padding-right: 10px;
}

/* JUMBOTRON */
.jumbotron{
  background-image: url('../img/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
}

.jumbotron h1{
  font-size: 35px;
}

.jumbotron p{
  margin-bottom: 20px;
}

.jumbotron .testo{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: white;
  width: 100%;
}

@media screen and (max-width: 992px){
  .jumbotron h1{
    font-size: 26px;
  }
}

/* PRODUCT */
#product,
#work{
  margin-top: 50px;
}

#product .col-lg-5{
  background-color: #fafafa;
  padding: 30px;
}

#product .name{
  font-size: 20px;
  font-weight: 600;
}

#product .descr{
  margin: 15px 0;
}

#product img{
  width: 100%;
  display: block;
  margin: auto;
}

/* WORK */
#work{
  height: 300px;
  background-image: url(../img/index-banner.1f6fd0a.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#work img{
  width: 60%;
  display: block;
  margin: auto;
  transform: translateY(32%);
}

#work .name{
  font-size: 30px;
}
